/* custom css goes here */

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);

body {
    font-family: 'Open Sans', sans-serif;
    padding-bottom: 70px;
}


#canvas{
    border: 5px black solid;
    border-radius: 15px;
    background-color: darkorange;
}
#sprite
{
       border: 5px black solid;
    border-radius: 15px;
    background-color: darkorange;
}

